*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    height: 50px;
}
.logo h2{

}

.search{

}

.link{
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    grid-column: 4;
}

ul{

}

ul li{
    list-style: none;
    display: inline-block;
}